*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.navbar-brand{
    font-size: 2.5rem;
    color:blueviolet;
    font-family: "Lobster", sans-serif;
}
.navbar-brand:hover{
    color: blueviolet;
    
}
.nav-link{
    margin-right: 10px;
    margin-left:  10px;
    color: black;
    font-family: "EB Garamond", serif;
    text-transform: uppercase;
}
.nav-link:hover{
    color: black;
}
.search{
    height: 40px;
    width: 80%;
    border-radius: 60px;
    margin-right: -35px;
    font-family: "EB Garamond", serif;
    outline:none;
    border: 2px solid rgb(blueviolet);

}
.btn0{
    height: 40px;
    width:40%;
    outline:none;
    border:none;
    background: blueviolet;
    font-family: "EB Garamond", serif;
    font-weight: 700;
    border-radius: 60px;
    color:white;
}
.main{
  background-image: url();
  background-size: cover;
  height:100vh;
  background-position: 50% 50%;
  width:100%; 
}
.main h1{
    font-size: 4rem;
    font-weight: 700;
}
.btn1{
    height:40px;
    width: 30%;
    border: none;
    outline: none;
    background: blueviolet;
    color: white;
    font-weight: 700;
    border-radius: 60px;
    
}
.btn1:hover{
    background-color: blueviolet;
    transition: 0.5s;
}
h1{
    font-weight: 700;
}
.card:hover{
    box-shadow: -2px 1px 39px -4px rgba(0,0,0,0.75);
-webkit-box-shadow: -2px 1px 39px -4px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 1px 39px -4px rgba(0,0,0,0.75);
transition: 0.5s;
}